
@{
    ViewBag.Title = "Загрузка файла";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Загрузка csv файла</h2>
<hr />
@using (Html.BeginForm("Upload", "Catalog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="catalogId" value="@ViewBag.CatalogId" />

    <div class="form-group">
        <input type="file" name="file" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Загрузить" onclick="loadingProcessing()" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-light" })
</div>
