#edit-row-form {
    width: 100%;
}
.catalog-value {
    padding-right: 5px;
}
.submit-btn {
    margin-top: 5px;
}
.disabled-link {
    pointer-events: none;
    cursor: default;
}

#message-div {
    margin-top: -4px;
}

.message-div-close {
    cursor: pointer;
}